body {
  background-color: white;
}

h1 {
  color: white;
  text-align: center;
}

p {
  font-family: poppins;
  font-size: 20px;
}
h1 {
			font-size: 1.5rem;
            color: black;
            text-align: center;
	}
	{ color:#b1f0b2;}